@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: #458FF6;
    --primary-foreground: #458FF6;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: #1F1534;
    --muted-foreground: #1F1534;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

}

@layer base {
  * {
    @apply border-border;
    font-family: 'Mulish', serif;
  }
  body {
    @apply bg-background text-foreground;
  }
}

section {
  @apply pt-12 pb-6 md:pt-32 md:pb-16
}

section, header, footer{
  @apply px-6 md:px-32
}
